<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <link href="../static/checkmark.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <img src="../static/checkmark.png" alt="Checkmark Image" class="checkmark">
        <p class="message">Success! Your action was completed.</p>
        <div class="input-group" style="margin-top: 70px;">
            <a href="http://127.0.0.1:8082/" style="text-decoration: none;"><button class="btn">Back</button></a>
          </div>
    </div>
    
</body>
</html>